
.dual-shutter {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 122px;
  z-index: 50;
  overflow: hidden;
  display: none;
  /*border: solid 0.1rem red;  for test */
}

.dual-shutter[dual-enabled=true] {
  display: block;
}

.dual-shutter .thumbnail-button,
.dual-shutter .gallery-button-dual {
  display: none;
}

.dual-shutter[buttons-enabled=false] .take-button,
.dual-shutter[buttons-enabled=false] .recording-button,
.dual-shutter[buttons-enabled=false] .gallery-button-dual,
.dual-shutter[buttons-enabled=false] .thumbnail-button {
  pointer-events: none;
}

.dual-shutter[gallery=true] .gallery-button-dual {
  display: block;
}

.dual-shutter[thumbnail=true] .thumbnail-button {
  display: block;
}

.dual-shutter[recording=true] .gallery-button-dual,
.dual-shutter[thumbnail=true] .gallery-button-dual,
.dual-shutter[recording=true] .thumbnail-button,
.dual-shutter[gallery=true] .thumbnail-button {
  display: none;
}

/* Check later
.dual-shutter a:first-child {
  float: left;
}
.dual-shutter a:last-child {
  float: right;
}
*/

.gallery-button-dual,
.thumbnail-button {
  position: absolute;
  width: 54px;
  height: 54px;
  border-radius: 27px;
  bottom: 34px;
  left: 37px;
}

.gallery-button-dual {
  background-color: rgba(0, 0, 0, 0.12);
}

.gallery-button-dual .icon {
  display: block;
  position: absolute;
  width: 54px;
  height: 54px;
  background-image: url(images/Viewfinder-Gallery.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 40px;
}

.gallery-button-dual:active {  
  background-color: rgba(0, 142, 171, 1);
}

.thumbnail-button .thumbnail-btn {  
  width: 54px;
  height: 54px;
  border-radius: 27px;
  border: solid 2px #ffffff;
}

.thumbnail-button .thumbnail-btn:active {
  border: solid 2px #008EAB;
}

.take-button {
  position: absolute;
  width: 102px;
  height: 102px;
  border-radius: 51px;
  bottom: 10px;
  left: 140px;
  background-color: rgba(195, 245, 255, 0.35);
  /*background: #c3f5ff;
  opacity: 0.35;*/
}

.take-button .animation {
  display: block;
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 76px;
  height: 76px;
  border-radius: 38px;
  top: 13px;
  left: 13px;
}

.dual-shutter[anim-camera=true] .take-button .animation{  
  /*display: block;
  position: absolute;
  width: 76px;
  height: 76px;
  border-radius: 38px;
  top: 13px;
  left: 13px;*/
  animation: anim-camera 500ms ease;
}

.take-button .icon {
  display: block;
  position: absolute;
  /*background-color: rgba(255, 255, 255, 1);*/
  background-image: url(images/Viewfinder-PhotoShutterButtonIcon.png);
  background-position: center center;
  background-repeat: no-repeat;  
  background-size: 40px;
  width: 76px;
  height: 76px;
  border-radius: 38px;
  top: 13px;
  left: 13px;
}

.recording-button {
  position: absolute;
  width: 54px;
  height: 54px;
  border-radius: 27px;
  bottom: 34px;
  right: 37px; /* consider padding */
  background-color: rgba(255, 255, 255, 1);
}

.dual-shutter[anim-video-start=true] .recording-button {
  background: #d92e2e;
  transition-duration: 500ms;
  transform: scale(1.4, 1.4);
  animation: none;
  /*animation: anim-video-start 500ms ease;*/
}

.dual-shutter[anim-video-stop=true] .recording-button {
  background: #ffffff;
  transition-duration: 500ms;
  transform: scale(1, 1);
  animation: none;
  /*animation: anim-video-start 500ms ease;*/
}

.recording-dot {
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  background: #d92e2e;
  border-radius: 7px;
  width: 14px;
  height: 14px;
  opacity: 1;
}

.dual-shutter[anim-video-start=true] .recording-dot {
  border-radius: 0;  
  background: #ffffff;
  transition-duration: 500ms;
  transform: scale(1.2, 1.2);
  animation: none;
}

.dual-shutter[anim-video-stop=true] .recording-dot {
  border-radius: 7px;  
  background: #d92e2e;
  transition-duration: 500ms;
  transform: scale(1, 1);
  animation: none;
}

@keyframes anim-camera {
0%    {background: #ffffff; transform: scale(1, 1);}
50%   {background: #00caf2; transform: scale(1.34, 1.34);}
100%  {background: #ffffff; transform: scale(1, 1);}
}

@keyframes anim-video-start {
from  {transform: scale(1, 1);}
to    {transform: scale(1.4, 1.4);}
}