
.indicator{
z-index: 50;
position: absolute;
top: 30%;
left:2%;
margin: 0px ;
padding: 0px ;
border:none;
background: transparent;
}

.indicator ul{
	border:none;
	margin:0;
    padding: 0;
    background: transparent;
}
.indicator li{
  height: 4.0rem;
  width: 4.0rem;
  background-image: url(images/Viewfinder-Indicator-Underlay.png);
  background-size: 90%;
  border-radius: 20%;
  background-position: center center;
  background-repeat: no-repeat;
  list-style: none;
  opacity: 0;
  margin-bottom:0px;
  padding: 0;
}

 
.geotagging[data-mode=Off]{
	opacity: 0.2;
	background-image: url(images/Viewfinder-Indicator-Geolocation-Off.png);
}
.geotagging[data-mode=On]{
	opacity: 0.8;
	background-image: url(images/Viewfinder-Indicator-Geolocation-On.png);
}

.batteryStatus[data-value="5"][data-mode=charging]{
	opacity: 0.8;
	background-image: url(images/drawable-hdpi/cam_icon_line8_23.png);
}
.batteryStatus[data-value="5"][data-mode=notcharging]{
	opacity: 0.8;
	background-image: url(images/drawable-hdpi/cam_icon_line8_02.png);
}

.batteryStatus[data-value="6"][data-mode=charging]{
	opacity: 0.8;
	background-image: url(images/drawable-hdpi/cam_icon_line8_24.png);
	transition: background-image 2s ease-in-out;
	animation-name: cf3FadeInOut;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 3s;
	animation-direction: alternate;
}
.batteryStatus[data-value="6"][data-mode=notcharging]{
	opacity: 0.8;
	background-image: url(images/drawable-hdpi/cam_icon_line8_03.png);
	transition: background-image 2s ease-in-out;
	animation-name: cf3FadeInOut;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 3s;
	animation-direction: alternate;
}

.batteryStatus[data-value="7"][data-mode=charging]{
	opacity: 0.8;
	background-image: url(images/drawable-hdpi/cam_icon_line8_25.png);
}
.batteryStatus[data-value="7"][data-mode=notcharging]{
	opacity: 0.8;
	background-image: url(images/drawable-hdpi/cam_icon_line8_04.png);
}

.batteryStatus[data-value="8"][data-mode=charging]{
	opacity: 0.8;
	background-image: url(images/drawable-hdpi/cam_icon_line8_26.png);
}
.batteryStatus[data-value="8"][data-mode=notcharging]{
	opacity: 0.8;
	background-image: url(images/drawable-hdpi/cam_icon_line8_05.png);
}

.batteryStatus[data-value="9"][data-mode=charging]{
	opacity: 0.8;
	background-image: url(images/drawable-hdpi/cam_icon_line8_27.png);
}
.batteryStatus[data-value="9"][data-mode=notcharging]{
	opacity: 0.8;
	background-image: url(images/drawable-hdpi/cam_icon_line8_06.png);
}

.batteryStatus[data-value="10"][data-mode=charging]{
	opacity: 0.8;
	background-image: url(images/drawable-hdpi/cam_icon_line8_28.png);
}
.batteryStatus[data-value="10"][data-mode=notcharging]{
	opacity: 0.8;
	background-image: url(images/drawable-hdpi/cam_icon_line8_07.png);
}

.batteryStatus[data-value="11"][data-mode=charging]{
	opacity: 0.8;
	background-image: url(images/drawable-hdpi/cam_icon_line8_29.png);
}
.batteryStatus[data-value="11"][data-mode=notcharging]{
	opacity: 0.8;
	background-image: url(images/drawable-hdpi/cam_icon_line8_08.png);
}

.batteryStatus[data-value="12"][data-mode=charging]{
	opacity: 0.8;
	background-image: url(images/drawable-hdpi/cam_icon_line8_30.png);
}
.batteryStatus[data-value="12"][data-mode=notcharging]{
	opacity: 0.8;
	background-image: url(images/drawable-hdpi/cam_icon_line8_09.png);
}

.batteryStatus[data-value="13"][data-mode=charging]{
	opacity: 0.8;
	background-image: url(images/drawable-hdpi/cam_icon_line8_31.png);
}
.batteryStatus[data-value="13"][data-mode=notcharging]{
	opacity: 0.8;
	background-image: url(images/drawable-hdpi/cam_icon_line8_10.png);
}

.batteryStatus[data-value="14"][data-mode=charging]{
	opacity: 0.8;
	background-image: url(images/drawable-hdpi/cam_icon_line8_32.png);
}
.batteryStatus[data-value="14"][data-mode=notcharging]{
	opacity: 0.8;
	background-image: url(images/drawable-hdpi/cam_icon_line8_11.png);
}

.batteryStatus[data-value="15"][data-mode=charging]{
	opacity: 0.8;
	background-image: url(images/drawable-hdpi/cam_icon_line8_33.png);
}
.batteryStatus[data-value="15"][data-mode=notcharging]{
	opacity: 0.8;
	background-image: url(images/drawable-hdpi/cam_icon_line8_12.png);
}



@keyframes cf3FadeInOut {
  0% {
  opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}


.captureIndicator[data-mode="Off"]{
	opacity:0.2;
	background-image: url(images/Viewfinder-Indicator-SelfTimer-Off.png);
}
.captureIndicator[data-mode="3 Sec"]{
	opacity: 0.8;
	background-image: url(images/Viewfinder-Indicator-SelfTimer.png);
}
.captureIndicator[data-mode="5 Sec"]{
	opacity: 0.8;
	background-image: url(images/Viewfinder-Indicator-SelfTimer.png);
}
.captureIndicator[data-mode="10 Sec"]{
	opacity: 0.8;
	background-image: url(images/Viewfinder-Indicator-SelfTimer.png);
}

.hdrstatus[data-mode=Off]{
background-image: url(images/Viewfinder-Indicator-HDR-Off.png);
opacity:0.2;
}
.hdrstatus[data-mode=On]{
opacity: 0.8;
background-image: url(images/Viewfinder-Indicator-HDR-On.png);
}
.hdrstatus[data-mode=auto]{
  opacity: 0.8;
  background-image: url(images/Viewfinder-Indicator-HDR-Auto.png);

}
